@model ClinicaMVC.Models.Medico

<h1>Editar Medico: @Model.Nombre</h1>

@using (Html.BeginForm("Edit", "Clinica", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>

    <div>
        @Html.LabelFor(model => model.Apellido)
        @Html.TextBoxFor(model => model.Apellido)
        @Html.ValidationMessageFor(model => model.Apellido)
    </div>

    <div>
        @Html.LabelFor(model => model.Matricula)
        @Html.TextBoxFor(model => model.Matricula)
        @Html.ValidationMessageFor(model => model.Matricula)
    </div>

    <input type="submit" value="Editar" action=""/>

    @Html.ActionLink("Volver al index", "Index", "Clinica")
}